/* Font styles */

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.5em;
  }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
  }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  line-height: 1em;
  }

p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1em;
  }

.label {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 100;
  font-style: normal;
  line-height: 1em;
  }

/* Add styles here */
